@model IEnumerable<WebApplication1.Models.Answer>

@{
    ViewData["Title"] = "Zarządzanie odpowiedziami";
}

<h1>Odpowiedzi do pytania</h1>
<p class="text-muted">@ViewBag.QuestionText</p>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" asp-route-questionId="@ViewBag.QuestionId" class="btn btn-primary">Dodaj odpowiedź</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>Kolejność</th>
            <th>Treść odpowiedzi</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Order</td>
                <td>@item.AnswerText</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Question" asp-action="Manage" asp-route-id="@ViewBag.SurveyId" class="btn btn-secondary">Powrót do pytań</a>
</div>
